@{
    ViewBag.Title = "Over ons";
    ViewBag.Message = "De beste .NET programmeurs van utrecht";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    bijdragen aan beter onderwijs

    Samen. Oprecht. Gedreven.
</p>
