@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron">
    <h1>ASP.NET demo</h1>
    <p class="lead">Deze demo is opgezet door idris voor de onderwijs innovatie groep</p>
    <p><a href="https://www.linkedin.com/in/idrisjanszen/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
        <h2>Over de applicatie</h2>
        <p>
            Op de applicatie kan je onderzoeken inplannen en raadplegen. Een onderzoek is een middel om online op grote schaal een vragenlijst in te laten invullen.
        </p>
        <p><a class="btn btn-default" href="https://oig.nl/ons-aanbod">Het echte platform van OIG kan meer &raquo;</a></p>
</div>